/* src/components/TabBar.css */
.tab-bar {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 13px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: fixed; /* Fissa la tab bar in basso */
  bottom: 0;
  width: 100%;
  z-index: 1000; /* Assicura che sia sopra altri elementi */
}

.badgeCart{

}

.tab-link {
  text-decoration: none;
  color: #555; /* Colore di default */
  padding: 10px 15px;
  border-radius: 5px;
  width: 100% !important;
  transition: color 0.3s, transform 0.3s; /* Transizioni per colore e trasformazione */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; /* Allinea verticalmente il contenuto */
  position: relative; /* Necessario per la pseudo-classe :after */
}

.tab-link.active {
  color: #007bff; /* Colore del testo quando attivo */
  transform: scale(1.1); /* Ingrandisce il tab attivo */
}



