body {
  font-family: "Inter", sans-serif; /* Applica il font Inter a tutto il corpo */
  padding: 0;
  margin: 0;
}

.content {
  text-align: left;
  background-image: url("../src//assets/img/background.jpg"); /* Inserisci qui il percorso della tua immagine di sfondo */
  background-size: cover; /* Contiene l'immagine nella pagina */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* Blocca l'immagine durante lo scroll */
  background-color: red !; /* Colore bianco con 50% di trasparenza */
}

/* src/components/Menu.css */
.sticky-header {
  position: sticky;
  top: 0;
  background-color: #F4F4F4 !important;
  z-index: 1000;
  padding: 10px;
  height: 50px !important;
  border-bottom: 1px solid #e8e8e8;
}

.filter-container {
  margin-bottom: 20px;
}

.card {
  min-height: 150px !important; /* Imposta l'altezza minima in base alle tue esigenze */
  display: flex;
  flex-direction: column;
}

/* src/components/Carrello.css */
.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px; /* Aggiusta come necessario */
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}