body {
  font-family: 'Inter', sans-serif; /* Applica il font Inter a tutto il corpo */
  padding: 0;
  margin: 0;
}

.app-container {
  padding-bottom: 60px; /* Altezza della TabBar */
}

.content {
  text-align: left;
  margin-bottom: 60px !important;
}

/* src/components/Menu.css */
.sticky-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
}

.filter-container {
  margin-bottom: 20px;
}
